.darkbg {
  background-color: rgb(4, 0, 11);
  font: italic bold 1em/1 "fira code", sans-serif;
  color: aliceblue;
}

.gstyle {
  border: 2px solid goldenrod;
  width: fit-content;
  height: fit-content;
  float: left;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  transition: all 0.4s;
}

.gstyle img {
  width: 225px;
  height: 160px;
  border-radius: 20px;
}

.gstyle:hover {
  border: 2px solid greenyellow;
  border-radius: 30px;
}

.pstyle {
  text-align: center;
}

.pstyle:hover {
  color: darkorchid;
}
